<p id="notice"><%= notice %></p>

<h1>Listing Student Problems</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>User ID</th>
      <th>User ID Str</th>
      <th>Seed</th>
      <th>Prob Temp Val</th>
    </tr>
  </thead>

  <tbody>
    <% @problems.each do |problem| %>
      <tr>
        <td><%= problem.id %></td>
        <td><%= problem.user_id %></td>
        <td><%= problem.user.id_string %></td>
        <td><%= problem.seed %></td>
        <td><%= problem.problem_template.value unless problem.problem_template.nil? %></td>
        <td><%= link_to 'Show', student_problem_path(problem) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
