<div class="page-header">
  <h2>Assignments</h2>
</div>
<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>
<%= link_to "Create new assignment", controller: "assignments", action: "new" %>
<table class="table table-striped">
  <tr>
    <th>Id</th>
    <th>Last Name</th>
    <th>First Name</th>
    <th></th>
    <th></th>
  </tr>
  <% @assignments.each do |assignment| %>
   <tr>
     <td><%= link_to "#{user.id_string}", admin_user_path(user) %></td>
    <td><%= "#{user.last_name}" %></td>
    <td><%= "#{user.first_name}" %></td>
    <td><%= link_to "Edit", edit_admin_user_path(user) %></td>
    <td>
      <%= link_to "Delete", admin_user_path(user), :method => :delete %>
  </td>
  </tr>
  <% end %>
</table>

