<div class="page-header">
  <h2>Assignments</h2>
</div>
<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>
<%= link_to "Create new assignment", controller: "assignments", action: "new" %>
<table class="table table-striped">
  <% @assignments.each do |assignment| %>
   <tr>
   <td><%= assignment.name %></td>
    <td><%= link_to "Edit", edit_admin_assignment_path(assignment) %></td>
    <td>
      <%= link_to "Delete", admin_assignment_path(assignment), :method => :delete %>
  </td>
  </tr>
  <% end %>
</table>

