<h1>Assignment <%= params[:id] %></h1>
<% @problems.each do |problem| %>
<table class="table table-striped">
  <tr>
    <th>Id</th>
    <th>User Id</th>
    <th>Template Id</th>
    <th>Value</th>
    <th>Interpreted Value</th>
    <th>Major Topic</th>
    <th>Minor Topic</th>
    <th>tags</th>
    <th>seed</th>
  </tr>
  <tr>
    <td><%= problem[:id] %></td>
    <td><%= problem[:user_id] %></td>
    <td><%= problem[:template_id] %></td>
    <td><%= problem[:template_value] %></td>
    <td><%= problem[:template_value_compiled] %></td>
    <td><%= problem[:template_major_topic] %></td>
    <td><%= problem[:template_minor_topic] %></td>
    <td><%= problem[:template_tags] %></td>
    <td><%= problem[:seed] %></td>
  </tr>
</table>
<table>

  <%= form_tag("/problem", method: "post", role: "form", class: "form-inline") do %>
    <div class="form-group">
        <%= label_tag(:answer1, "Answer:", class: "col-sm-2 control-label") %>
        <div class="col-md-5">
        <%= text_field_tag(:answer1, nil, class: "form-control") %>
        </div>
    </div>
    <div class="form-group">
    <%= submit_tag("Submit", class: "btn btn-default") %>
    </div>
  <% end %>
</table>

<% end %>
<%= @string_fp =%>
