<h1>Assignment <%= @assignment.id %></h1>
<% @problem_hash.each do |item| %>
<table class="table table-striped">
  <tr>
    <th>Id</th>
    <th>User Id</th>
    <th>Template Id</th>
    <th>Value</th>
    <th>Interpreted Value</th>
    <th>Major Topic</th>
    <th>Minor Topic</th>
    <th>tags</th>
    <th>seed</th>
  </tr>
  <tr>
    <td><%= item[:problem].id %></td>
    <td><%= item[:problem].user_id %></td>
    <td><%= item[:template].id %></td>
    <td><%= item[:template].value %></td>
    <td><%= %x(perl -e '#{item[:template].value}') %></td>
    <td><%= item[:template].major_topic %></td>
    <td><%= item[:template].minor_topic %></td>
    <td><%= item[:template].tags %></td>
    <td><%= item[:problem].seed %></td>
  </tr>
</table>

<% end %>
