<!DOCTYPE html>
<html>
<head>
  <title>Compass</title>
  <%= stylesheet_link_tag "admin/main.css", media: "all" %>
  <%= javascript_include_tag "admin/main.js"%>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "admin/partials/admin_header.html.erb" %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "admin/partials/admin_sidebar.html.erb" %>
    </div><!-- /.col-md-3 /.sidebar-->
    <div class="col-md-9">
      <%= yield %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      </div><!-- /.col-md-9 -->
  </div><!-- /.row -->
</div><!-- /.container-fluid -->
<%= debug(params) if Rails.env.development? %>
</body>

